<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="|Hello, ${KAMI}!|"></p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum dignissim malesuada.
</p>
<img src="https://th.bing.com/th/id/OIP.MY2Xnk4Ocz4Tavvrd4E_8AHaEo?w=278&h=180&c=7&r=0&o=5&cb=iwc2&dpr=1.3&pid=1.7"
     alt="Random Image"
     width="500"
     height="500"
     style="display: block; margin-left: auto; margin-right: auto;" />
</body>
</html>
